﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>SanaCommerce</h1>
</div>

<div class="row">
    <div class="col-md-8">Choose your data storage:
        <fieldset data-bind="foreach:services" data-role="controlgroup" data-type="horizontal">
            <input type="radio" data-bind="value:id, checked:$parent.selectedservice" name="burwood" />
            <span data-bind="text: name"></span>
        </fieldset>
    </div>
</div>
<div class="row">

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading pane">
                <h2 class="panel-title">Products</h2>
            </div>
            <div class="panel-body" style="overflow-x:auto;">
                <ul class="list-unstyled">
                    <li>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Product Number</td>
                                    <td>Title</td>
                                    <td>Price</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: products'>
                                <tr>
                                    <td data-bind="text: product_number"></td>
                                    <td data-bind="text: title"></td>
                                    <td data-bind="text: price"></td>
                                    <td><input type="button" class="btn btn-primary btn-xs" value="Edit" data-bind="click: $parent.editProduct" /></td>
                                    <td><input type="button" class="btn btn-danger btn-xs" value="Remove" data-bind="click: $parent.removeProduct" /></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><input type="button" class="btn btn-primary btn-xs" value="New" data-bind="click: setVisibility"/></td>
                                </tr>
                            </tfoot>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-6" data-bind="visible: visibility">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Product</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addProduct">
                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-4 control-label">Product Info</label>
                    </div>

                    <div class="form-group" data-bind="with: currentProduct">
                        <label for="inputName" class="col-sm-4 control-label">Product Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputName" data-bind="value:product_number" />
                        </div>

                        <label for="inputAddress" class="col-sm-4 control-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputAddress" data-bind="value:title" />
                        </div>

                        <label for="inputPrice" class="col-sm-4 control-label">Price</label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control" id="inputPrice" data-bind="value:price" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-xs">Submit</button>
                    <button type="button" class="btn btn-warning btn-xs" data-bind="click: hideVisibility">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="loader" style="margin: 0 auto;" data-bind="visible: loader"></div>
